name: Branch
on:
  push:
    branches-ignore:
      - "*"
  pull_request:
    branches:
      - main

jobs:
  Linting:
    name: "Linting"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: false

      - name: Python 3
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install yamllint
        run: pip3 install yamllint

<<<<<<< HEAD
      - name: Lint code.
        run: |
          yamllint .
=======
      - name: "Super Linter"
        uses: github/super-linter@v4.5.0
        env:
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
>>>>>>> 3313cbdf59c30b604a5500542174197c197ad5b3
